button{
    display:inline-block;
    padding:0.46em 1.6em;
    border:0.1em solid #000000;
    margin:0 0.2em 0.2em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:white;

    text-align:center;
}

button:hover{
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color:blue;
    border-color:#000000;
}